* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: var(--color);
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
:root {
    --violet: #936cdd;
    --black: #201830;
    --gray: #665f73;
    --prime-color: #ff9051;
    --color:#fff;
    --background_color: #FFF8F3;
}
a {
    text-decoration: none;
}
.section_desc {
    color: var(--gray);
    font-weight: 400;
    line-height: 28px;
}
.section_heading {
    color: var(--black);
    font-weight: 700;
}
.item_heading{
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--color);
font-size: 1.8rem;
font-weight: 600;
line-height: 30px; /* 166.667% */
}
.item_desc{
    color: var(--color);
font-size: 1.4rem;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
.hed_pc {
    display: none;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--violet);
    color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0px 0px 21px -6px rgba(13, 0, 255, 0.8);
    padding: 1px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    width: 170px;
    height: 62px;
}
.section_link {
    color: var(--black);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
.section_link:hover {
    text-decoration-line: underline;
}
.order_1_pc{
    order: 1;
}
.order_2_pc{
    order:2;
}
/* hero */
.hero {
    background: var(--background_color);
    padding: 110px 0 140px;
}
.hero_row {
    display: flex;
}
/* hero left */
.hero_left {
    margin-right: 130px;
    display: flex;
}
.hero_inner {
    position: relative;
    display: flex;
    column-gap: 30px;
}
.img_main {
    border-radius: 8px;
    width: 270px;
    height: 302px;
    object-fit: cover;
}
.main_left {
    position: relative;
}
.hero_wave {
    background: #ffffff;
    position: absolute;
    bottom: 130px;
    left: 38px;
    width: 194px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 44px 0px #20183012;
    border-radius: 5px;
    column-gap: 8px;
}
.hero_podcast {
    margin-top: 53px;
}
.hero_podcast_heading {
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}
.hero_podcast_list {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    margin-left: 18px;
}
.hero_podcast_avatar {
    margin-left: -18px;
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.avt_span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 22px; /* 183.333% */
    width: 48px;
    height: 48px;
    border: 2px solid #fff;
    background: #201830;
}
.img_top {
    position: relative;
}
.img_top_podcarts {
    margin: 8px 0 0 118px;
}
.img_top_decor_left {
    top: 44.5px;
    left: 54px;
    position: absolute;
}
.img_top_decor_right {
    position: absolute;
    top: 102px;
    left: 157px;
}
.img_top_media {
    margin-top: 12px;
    display: flex;
    column-gap: 18px;
}
.main_right {
    display: inline-block;
    position: relative;
    margin-top: 28px;
}
.main_right_block {
    position: absolute;
    bottom: 16px;
    right: 38px;
    width: 194px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(5px);
}
.main_right_heading {
    margin-top: 14px;
    color: var(--black);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 14px; /* 100% */
}
.main_right_desc {
    margin-top: 6px;
    color: var(--gray);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 12px; /* 100% */
}
/* hero right */

.hero_heading {
    position: relative;
    width: 470px;
    font-size: 7rem;
    line-height: 80px;
    z-index: 2;
}
.hero_heading::after{
    content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/hero_right_01.svg");
    position: absolute;
    left: 30px;
    bottom: 58px;
    z-index: -1;
}
.hero_desc {
    margin-top: 20px;
    width: 470px;
    font-size: 1.8rem;
}
.hero_actions {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 28px;
}
.hero_btn {
    width: 157px;
    height: 64px;
}
.hero_play {
    padding-top: 2px;
    margin-left: -20px;
}
/* directories */
.directories {
    margin-top: 160px;
}
.directories_inner {
    display: flex;
    column-gap: 130px;
}
.directories_heading {
    position: relative;
    margin-top: 45px;
    width: 470px;
    font-size: 4.2rem;
    line-height: 52px;
}
.directories_heading::after{
    content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/directories_heading.svg");
    position: absolute;
    bottom: -19px;
    right: 58px;
    z-index: -1;
}
.directories_desc {
    width: 470px;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 28px;
}
.directories_actions{
    display: inline-flex;  
}
.directories_btn { 
    column-gap: 8px;
    margin-top: 38px;
    align-items: center;
    justify-content: center;
}
.directories_right{
    margin-left: 130px;
}
.directories_media {
    position: relative;
}
.directories_media::before {
    margin: 56px 62px;
    position: relative;
    content: "";
    display: inline-block;
    width: 287px;
    height: 287px;
    border-radius: 287px;
    opacity: 0.4;
    background: #ff9051;
    filter: blur(129px);
}
.directories_img_media:nth-child(1) {
    position: absolute;
    top: -10px;
    left: 96px;
}
.directories_img_media:nth-child(2) {
    position: absolute;
    top: 50px;
    right: -41px;
}
.directories_img_media:nth-child(3) {
    position: absolute;
    top: 215px;
    right: -16px;
}
.directories_img_media:nth-child(4) {
    position: absolute;
    bottom: -6px;
    left: 27px;
}
.directories_img_media:nth-child(5) {
    position: absolute;
    top: 158px;
    left: -62px;
}
/* category */
.category{
    margin-top: 160px;
}
.category_top{
    text-align: center;
}
.category_heading{
    display: inline-block;
    position: relative;
font-size: 4.2rem;
line-height: 52px; /* 123.81% */
}
.category_heading::after{
    content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/category_heading.svg");
    z-index: -1;
    max-width: 193px;
position: absolute;
bottom: -8px;
right: 0;
}
.category_desc{
    margin-top: 18px;
font-size: 1.6rem;
line-height: 28px; /* 175% */
}
.category_podcasts{
    margin-top: 70px
}
.category_list{
    display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        grid-auto-flow: row;     
        grid-template-areas: 
    "num1 num2 num2 num3"
    "num1 num4 num5 num5"; 
}
.category_img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.category_item{
    position: relative;
}
.category_item:nth-of-type(1){
    width: 370px;
    grid-area:num1;
}
.category_item:nth-of-type(2){
    grid-area:num2;
}
.category_item:nth-of-type(3){
    width: 270px;
    grid-area:num3;
}
.category_item:nth-of-type(4){
    width: 270px;
    grid-area:num4;
}
.category_item:nth-of-type(5){
    grid-area:num5;
}
.category_item_block{
    padding: 16px 0 16px 24px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 86px;
    background:#FFFFFF33;
    fill: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
}
.category_action{
    margin-top: 55px;
    display: flex;
    justify-content: center;
}
.category_btn{
    background:var(--black);
}
/* popular  */
.popular{
    background:var(--background_color);
    margin-top: 160px;
    padding-bottom: 100px;
}
.popular_top{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.popular_heading{
    position: relative;
    width: 390px;
    font-size: 4.2rem;
    line-height: 52px;
    z-index: 1;
}
.popular_heading::after{
    content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/popular_heading.svg");
    position: absolute;
    top: 14px;
    right: 43px;
    z-index: -1;
}
.popular_list{
    margin-top: 84px;
     display: grid;
        grid-template-columns:repeat(4,1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 30px 30px;
}
.popular_item{
    flex-direction: column;
    width: 270px;
    display: flex;
    row-gap: 30px;
}
.popular_item_thumb{
    border-radius: 8px;
    width: 100%;
    height: 286px;
    object-fit: cover;
}
.popular_item_bottom{
    height: 286px;
}
.popular_item_heading{
    margin-top: 9px;
    max-width: 270px;
    font-size: 2rem;
    line-height: 30px;
}
.popular_item_episode{
    display: block;
    margin-top: 29px;
    color: #FD6F1F;
font-size: 1.4rem;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
.popular_item_desc{
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 28px;
}
.popular_item_action{
    margin-top: 11px;
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.popular_play{
    margin-top: 7px;
    width: 14px;
    height: 14px;
    color:#201830;
}
.popular_play:hover{
    color:var(--violet);
}
.popular_link{
font-size: 1.4rem;
line-height: 24px; /* 171.429% */
}
.popular_link:hover{
    color:var(--violet);
}
.popular_dot{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    cursor:pointer

}
/* listeners  */
.listeners {
margin-top: 168px;
}
.listeners_inner{
    display: flex;
    column-gap: 430px;
}
.listeners_left{
    position:relative;
}
.listeners_dot{
    position:absolute;
    bottom: -160px;
    left: 74px;
    cursor:pointer
}
.listeners_main{
    position: absolute;
    top: 0;
    right: -300px;
    z-index: -1;
    width: 370px;
    height: 444px;
object-fit: cover;
border-radius: 8px;
}
.listeners_img{
    position: relative;
    top: 80px;
    left: 0;;
    z-index: 1;
    width: 270px;
    height: 284px;
    border-radius: 8px;
}
.listeners_apostrophe{
    margin-top: 48px;
}
.listeners_heading{
    position: relative;
    margin-top: 18px;
    font-size: 4.2rem;
    line-height: 52px;
}
.listeners_heading::after{
    content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/listeners_heading.svg");
position: absolute;
top: 17px;
right: 98px;
z-index:-1;
}
.listeners_desc{
    margin-top: 38px;
    line-height: 28px;
    font-size: 1.6rem;
}
.listeners_name{
    display: inline-block;
    color: #ABA6B5;
font-size: 1.4rem;
font-weight: 400;
line-height: 24px; /* 171.429% */
margin-top: 18px;
}
/* update */
.update{
    margin-top: 210px;  
}
.update_inner{
    padding: 100px;
   display: block;
    border-radius: 12px;
background: var(--black);
height: 438px;
position: relative;
}
.update_star_1,.update_star_2,.update_star_3{
    position: absolute;
    z-index: 2;
}
.update_star_1{
    top: 26px;
    right: 618px;
}
.update_star_2{
    left: 35px;
    bottom: 45px;
}
.update_star_3{
    right: 27px;
    top: 180px;
}
.update_top{ 
    display: flex;
}
.update_heading{
    width: 470px;
    font-size: 4.2rem;
    line-height: 52px;
    color:var(--color);
    position: relative;
    z-index: 1;
}
.update_heading::after{
    content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/update_heading.svg");
    position: absolute;
    left: -3px;
    bottom: -12px;
    z-index: -1;
}
.update_desc{
    width: 470px;
    font-size: 1.6rem;
    line-height: 28px;
    color: #ABA6B5;
}
.update_form{
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
}
.update_input_name,.update_input_email{
    width: 370px;
height: 64px;
border-radius: 8px;
background: #2B213F;
outline:none;
border:none;
padding: 18px 28px;
color: #ABA6B5;
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
}
.update_btn{
    outline:none;
border:none;
cursor:pointer;
padding: 0;
}
