/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .hed_mobile {
        display: none;
    }
    .show_mobile {
        display: block;
    }
    .order_1_mobile {
        order: 1;
    }
    .order_2_mobile {
        order: 2;
    }
    .header {
        padding: 20px 0;
        background:var(--background_color);
    }
    .hero {
        padding: 42px 0 32px;
    }
    .hero_inner {
        column-gap: 18px;
    }
    .img_main {
        width: 160.188px;
        height: 179.173px;
    }
    .img_top_podcarts {
        width: 48.65px;
        margin: 5px 41px 0 70px;
    }
    .img_media {
        width: 16.612px;
    }

    .img_top_decor_left {
        position: absolute;
        width: 26.698px;
        height: 21.68px;
        top: 30px;
        left: 36px;
    }
    .img_top_decor_right {
        position: absolute;
        left: 98px;
        top: 67px;
        width: 26.698px;
        height: 21.68px;
    }
    .main_right {
        margin-top: 8px;
    }
    .hero_wave {
        width: 115.098px;
        height: 35.597px;
        left: 22px;
        bottom: 74px;
    }
    .main_right_block {
        right: 22px;
        bottom: 9px;
        width: 115.098px;
        height: 35.597px;
    }
    .main_right_heading {
        margin-top: 8px;
        font-size: 0.83rem;
        line-height: 8.306px;
    }
    .main_right_desc {
        margin-top: 2.5px;
        font-size: 0.7rem;
        line-height: 7.119px;
    }
    .hero_wave_img {
        width: 15px;
    }
    .hero_wave_mobile {
        width: 67.63px;
        height: 15.43px;
        border-radius: 0.59px 0px 0px 0px;
    }
    .hero_podcast_heading {
        font-size: 0.8rem;
        line-height: 14.239px;
    }
    .hero_podcast {
        margin-top: 40px;
    }
    .hero_podcast_list {
        margin-top: 5px;
        margin-left: 12px;
    }
    .hero_podcast_avatar {
        margin-left: -12px;
        width: 28.478px;
        height: 28.478px;
        border-radius: 28.478px;
        border: 1.187px solid #fff;
    }
    .hero_row {
        flex-direction: column;
    }
    .hero_heading {
        margin-top: 39px;
        width: 339px;
        font-size: 3.6rem;
        line-height: 46px;
    }
    .hero_heading::after {
        content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/hero_heading_mobile.svg");
        left: 4px;
        bottom: -11px;
    }
    .hero_desc {
        margin-top: 12px;
        width: 339px;
        font-size: 1.4rem;
        line-height: 24px;
    }
    .hero_actions {
        margin-top: 28px;
    }
    /* directories */
    .directories {
        margin-top: 100px;
    }

    .directories_inner {
        width: 100%;
        display: flex;
        flex-direction: column; /* Sắp xếp nội dung bên trong theo cột */
    }
    .directories_right {
        margin-left: 0;
    }

    .directories_media::before {
        width: 176px;
        height: 176px;
    }
    .directories_img_media:nth-child(1) {
        width: 89px;
        height: 89px;
        top: 0;
        left: 128px;
    }
    .directories_img_media:nth-child(2) {
        width: 58px;
        height: 58px;
        top: 35px;
        right: 18px;
    }
    .directories_img_media:nth-child(3) {
        width: 82px;
        height: 82px;
        right: 28px;
        top: 132px;
    }
    .directories_img_media:nth-child(4) {
        width: 75px;
        height: 75px;
        bottom: 24px;
        left: 127px;
    }
    .directories_img_media:nth-child(5) {
        width: 48px;
        height: 48px;
        left: 18px;
        top: 98px;
    }
    .directories_heading {
        margin-left: 18px;
        width: 339px;
        font-size: 2.6rem;
        line-height: 36px;
        margin-top: 38px;
    }
    .directories_heading::after {
        content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/directorie_heading_mobile.svg");
        left: 4px;
        bottom: -11px;
    }
    .directories_desc {
        margin-left: 18px;
        margin-top: 12px;
        width: 339px;
        font-size: 1.4rem;
        line-height: 24px;
    }
    .directories_btn {
        margin-left: 18px;
        margin-top: 28px;
    }
    /* category */
    .category {
        margin-top: 100px;
    }
    .category_heading { 
        text-align: center;
        font-size: 2.6rem;
        line-height: 36px; /* 138.462% */
    }
  
    .category_heading::after { 
        content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/category_heading_mobile.svg");
        bottom: -12px;
    }
    .category_desc {
        display: inline-block;
        text-align: center;
        margin-top: 12px;
        width: 339px;
        font-size: 1.4rem;
        line-height: 24px;
    }
    .category_podcasts {
        margin-top: 38px;
    }
    .category_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 16px;
    }
    .category_item:nth-of-type(1) {
        width: 339px;
    }
    .category_action {
        margin-top: 38px;
    }
    /* popular */
    .popular {
        margin-top: 100px;
    }
    .popular_top {
        margin-top: 70px;
    }
    .popular_heading {
        width: 339px;
        font-size: 2.6rem;
        line-height: 36px; /* 138.462% */
    }
    .popular_heading::after {
        content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/popular_heading_mobile.svg");
        left: 6px;
        top: 45px;
        z-index: -1;
    }
    .popular_list {
        grid-template-columns: 1fr;
        margin-top: 38px;
    }
    .popular_item {
        width: 100%;
        flex-direction: row;
        column-gap: 19px;
    }
    .popular_item_thumb {
        width: 160px;
        height: 170px;
    }
    .popular_item_episode {
        margin-top: 17px;
        font-size: 1rem;
        line-height: 10px; /* 100% */
    }
    .popular_item_heading {
        margin-top: 7px;
        width: 160px;
        font-size: 1.2rem;
        line-height: 18px; /* 150% */
    }
    .popular_item_desc {
        margin-top: 12px;
        width: 160px;
        font-size: 1rem;
        line-height: 18px; /* 180% */
    }
    .popular_item_action {
        margin-top: 7px;
    }
    .popular_link {
        color: #936cdd;
        font-size: 1rem;
        line-height: 10px; /* 100% */
    }
    .popular_item_bottom {
        height: auto;
    }
    .popular_dot {
        margin-top: 18px;
    }
    .category_btn {
        margin-top: 28px;
        display: flex;
    }
    /* listeners  */
    .listeners {
        margin-top: 100px;
    }
    .listeners_apostrophe {
        margin-top: 0;
    }
    .listeners_inner {
        flex-direction: column;
    }
    .listeners_heading {
        margin-top: 18px;
        width: 339px;
        font-size: 2.6rem;
        line-height: 36px; /* 138.462% */
    }
    .listeners_heading::after {
        content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/listeners_heading_mobile.svg");
        top: 12px;
        right: 121px;
    }
    .listeners_desc {
        margin-top: 12px;
        width: 339px;
        font-size: 1.4rem;
        line-height: 24px; /* 171.429% */
    }
    .listeners_name {
        margin-top: 12px;
        font-size: 1.4rem;
        line-height: 24px;
    }
    .listeners_img {
        width: 160px;
        height: 168px;
        top: 75px;
    }
    .listeners_main {
        width: 218px;
        height: 262px;
        right: 4px;
        top: 28px;
    }
    .listeners_dot {
        width: 27px;
        height: 7px;
        bottom: -118px;
        left: 47px;
    }
    /* update  */
    .update_inner {
        padding: 50px 14px;
        height: 516px;
    }
    .update_top {
        flex-direction: column;
    }
    .update_form {
        margin-top: 38px;
        flex-direction: column;
        row-gap: 12px;
    }
    .update_heading {
        width: 339px;
        font-size: 2.6rem;
        line-height: 36px; /* 138.462% */
    }
    .update_heading::after {
        content:url("https://raw.githubusercontent.com/ngoctien20/htmlcss07/main/assets/img/update_heading_mobile.svg");
        left: 239px;
        bottom: 27px;
    }
    .update_desc {
        margin-top: 12px;
        width: 339px;
        font-size: 1.4rem;
        line-height: 24px; /* 171.429% */
    }
    .update_input_name,
    .update_input_email {
        width: 316px;
    }
    .update_btn {
        margin-top: 8px;
        width: 157px;
    }
    .update_star_1 {
        top: 481px;
        right: 42px;
    }
    .update_star_2 {
        left: 272px;
        bottom: 67px;
    }
    .update_star_3 {
        right: 110px;
        top: 454px;
    }
    /* footer */
    .footer {
        padding: 54px 10px 0;
        height: 1182px;
    }
    .footer_list {
        display: flex;
        flex-direction: column;
        gap: 38px;
    }
    .footer_icons {
        display: flex;
        gap: 16px;
    }
}
